In [ ]:
# example:
name = "chintu"
age = 20
height = 5.6

Data types in python.
numeric

string

list

tuples

dictionary

set

In [99]:
# input() function.
name=input("enter your name:")
age=input("enter your age:")
height = input("enter your height:")

enter your name: Harshini
enter your age: 25
enter your height: 5.5

In [101]:
print(name)
print(age)
print(height)
# type() function
#when we get value from input all the input will be in string
type(name)
type(age)
type(height)

Harshini
25
5.5

str

In [103]:
#As the string is not valid for arithmetic it throws error; hence do conversion
age=age+3
print(age)

TypeError: can only concatenate str (not "int") to str

In [105]:
#  datatype convertions.
age=int(input("enter your age:"))

enter your age: 25

In [107]:
print(type(age))
print(age)
age=age+3
print(age)

<class 'int'>
25
28

In [109]:
height=float(input("enter your height:"))

enter your height: 5.5

In [111]:
type(height)

float

In [113]:
# printing variables.
print(name)
print(age)
print(height)

Harshini
28
5.5

In [115]:
print(name,age,height)

Harshini 28 5.5

In [117]:
print("your name is:",name)
print("your age is:",age)
print("your height is:",height)

your name is: Harshini
your age is: 28
your height is: 5.5

In [119]:
#with keyword f we can get the input in a flower-bracket {}; if not we have to use at the end of the print statement

print(f"the name is {name} your age is {age} your height is {height}")

the name is Harshini your age is 28 your height is 5.5

In [134]:
# string concatenation 
firstname="pintu"
lastname="r"
fullname=firstname+lastname
print(fullname)
fullname=firstname+" "+lastname
print(fullname)
print(firstname,lastname)
fullname=firstname-lastname #this is not valid hence error
print(fullname)
result=firstname*lastname #this is not valid hence error
print(result)

pintur
pintu r
pintu r

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [146]:
name="chintu"
result=name*3
print(result)

chintuchintuchintu

In [136]:
# printing the string statements
a="learning python"
b="gurukula"
print("you are "+a+" in " +b)
print("you are {a} in {b}".format(a=a,b=b))
print(f"you are {a} in {b}")
print("you are {} in {}".format(a,b))

you are learning python in gurukula
you are learning python in gurukula
you are learning python in gurukula
you are learning python in gurukula

In [127]:
# string indexing
a="hello"
a[0],a[1],a[2],a[3],a[4]
a[-5],a[-4],a[-3],a[-2],a[-1]

('h', 'e', 'l', 'l', 'o')

In [129]:
# string slicing
#syntax [start:end-1]
a="hello"
#a[0:4]    #o/p: 'hell'
#a[0:5]    #o/p: 'hello'
#a[1:5]    #o/p: 'ello'
#a[0:]     #o/p: 'hello'
#a[:5]     #o/p: 'hello'
#a[:]      #o/p: 'hello'
#a[-5:-1]  #o/p: 'hell'
#a[-5:]    #o/p: 'hello'
#a[3:0]    #this will throw error; reverse is not applicable
a[:]       #o/p: hello

'hello'

In [148]:
#in string slicing, reverse is not possible; hence output is blank
a[3:0]

''

In [142]:
#step argument 
# this steps according to the number we give
#syntax: [start:end:step]
a="happylearning"
#a[0::2]    #o/p: 'hpyerig'
#a[0::3]    #o/p: 'hpeng'
a[0::1]     #o/p: 'happylearning'

'happylearning'