In [1]:
# creating empty dictionary
d={}
type(d)

dict

In [2]:
d1={"name":"sakthi","age":20}
print(d1)

{'name': 'sakthi', 'age': 20}

In [3]:
d1={"name":"sakthi",
    "age":20}
print(d1)

{'name': 'sakthi', 'age': 20}

In [4]:
# list as dictionary
a=["name","age"]
b=["sakthi",20]
c=dict(zip(a,b))   #this dict(zip) converts the list to dictionary
print(c)

{'name': 'sakthi', 'age': 20}

In [5]:
# tuple as dictionary
a=("name","age","height")
b=("sakthi",20)
c=dict(zip(a,b))   #this dict(zip) converts the tuple to dictionary
print(c)

{'name': 'sakthi', 'age': 20}

In [6]:
a=["name","age"]
b=("sakthi",20)
c=dict(zip(a,b))
print(c)

{'name': 'sakthi', 'age': 20}

In [7]:
a=["name","age"]
b=("sakthi",20)
c=dict(zip(b,a))
print(c)

{'sakthi': 'name', 20: 'age'}

In [8]:
# dict() function
name=dict(name="sakthi",age=20)
print(name)

{'name': 'sakthi', 'age': 20}

In [9]:
d=dict([("name","sakthi"),("age",20)])
print(d)

{'name': 'sakthi', 'age': 20}

In [10]:
# basic operations -len
l1={'name': 'sakthi', 'age': 20}
len(l1)

2

In [11]:
# basic operations -concatenation
c1={'name': 'sakthi'}
c2={'age': 20}
c1+c2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [15]:
# basic operations -reptition
c1={'name': 'sakthi'}
c1*3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [22]:
# basic operations -membership operator
c1={'name': 'sakthi'}
"name1" in c1

False

In [23]:
# accessing dict elements
var={'name': 'sakthi', 'age': 20}
var['name']

'sakthi'

In [34]:
var={'name': 'sakthi', 'age': 20,'age':89}  #it considers only the last value of age
var['age']

89

In [25]:
# nested dictionary
nested={"name":"sakthi","age":20,
        "interest":["cricket","hockey"],
        "languages":{"speak":"english","write":"tamil"}}
nested["interest"][0]

'cricket'

In [26]:
nested["languages"]["speak"]

'english'

In [27]:
nested["languages"]["write"]

'tamil'

In [28]:
# modifying dict elements
mod={'name': 'sakthi', 'age': 20}
mod["name"]="Gurukula"
print(mod)
mod["address"]="nil"
print(mod)

{'name': 'Gurukula', 'age': 20}
{'name': 'Gurukula', 'age': 20, 'address': 'nil'}

In [29]:
# deleting dict elements and enire dictionary
mod={'name': 'sakthi', 'age': 20}
del mod["name"]
print(mod)

{'age': 20}

In [30]:
mod={'name': 'sakthi', 'age': 20}
del mod
print(mod)

NameError: name 'mod' is not defined