In [1]:
s1={12,23,45,"hello",9.8}
print(s1)

{23, 'hello', 12, 45, 9.8}

In [2]:
s3=set([1,2,3])
print(s3)

{1, 2, 3}

In [3]:
s3=set((1,2,3))
print(s3)

{1, 2, 3}

In [4]:
set1={12,34,56,8,90}
print(len(set1))
print(min(set1))
print(max(set1))
print(sum(set1))

5
8
90
200

In [5]:
# Adding an element to set - add()
set1={12,34,56,8,90}
set1.add(100)
print(set1)

{34, 100, 90, 8, 56, 12}

In [6]:
set1={12,34,56,8,90}
set1.add(100,200)  #only 1 argument can be passed
print(set1)

TypeError: set.add() takes exactly one argument (2 given)

In [13]:
# Adding multiple element to set - update()
set1={12,34,56,8,90}
set1.update(("hello","python"))
print(set1)

{34, 'python', 90, 8, 'hello', 56, 12}

In [14]:
set1={12,34,56,8,90}
set1.update(["hello","python"])
print(set1)

{34, 'python', 90, 8, 'hello', 56, 12}

In [15]:
set1={12,34,56,8,90}
set1.update({"hello","python"},[1,2,3])
print(set1)

{1, 'python', 2, 3, 8, 'hello', 12, 90, 34, 56}

In [16]:
s1={12,32}
s2={34,56}
s1+s2   #cant add 2 sets

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [23]:
s1={12,32}
s2={34,56}
s1.update(s2)
print(s1)
print(s2)

{32, 56, 12, 34}
{56, 34}

In [24]:
s1={12,32}
s2={34,56}
s2.update(s1)
print(s1)
print(s2)

{32, 12}
{56, 34, 32, 12}

In [25]:
s1={12,32}
s2={34,56}
s3={"hello"}
s1.update(s2,s3)
print(s1)

{32, 34, 56, 'hello', 12}

In [26]:
# Accessing element from set
f1={12,23}
for x in f1:
    print(x)

12
23

In [27]:
# remove()
r1={"hello","python",12,34,56,889,9.8}
r1.remove(100)   #100 is not in set
print(r1)

KeyError: 100

In [34]:
# discard()
d1={"hello","python",12,34,56,889,9.8}
d1.discard(100)
print(d1)

{'python', 34, 889, 56, 'hello', 12, 9.8}

In [35]:
# pop()
p1={"hello","python",12,34,56,889,9.8}
print(p1)
p1.pop()
print(p1)

{'python', 34, 889, 56, 'hello', 12, 9.8}
{34, 889, 56, 'hello', 12, 9.8}

In [36]:
# clear()
s1={2,34,56,7,90}
s1.clear()
print(s1)

set()

In [37]:
# del
s1={2,34,56,7,90}
del s1
print(s1)   #s1 is deleted already

NameError: name 's1' is not defined

In [40]:
s2={1,2,3,4,5,6,1,4,1,1,1,1}
print(s2)

{1, 2, 3, 4, 5, 6}